doctype html
html
  head
    - if (typeof post !== "undefined" && post.title !== "undefined")
      title= post.title + " - Devin Young"
      meta(name='description', content=post.description)
    - else if (typeof tag !== "undefined")
      title= tag + " - Devin Young"
      meta(name='description', content='Devin Young, posts tagged with #{tag}')
    - else if (typeof category !== "undefined")
      title= category + " - Devin Young"
      meta(name='description', content='Devin Young, posts of category #{category}')
    - else if (typeof title !== "undefined" )
      title= title
      meta(name='description', content='Devin Young, Software Engineer in DFW')
    - else
      title= 'Devin Young'
      meta(name='description', content='Devin Young, Software Engineer in DFW')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="http://yandex.st/highlightjs/8.0/styles/monokai_sublime.min.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    div#fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=194909537317327";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .wrapper
      .box
        .row
          div#sidebar.column.col-sm-3
            a.logo(href="/")
            ul.nav
              li: a(href="/") Home
              li: a(href="/resume") Resume
              li: a(href="/blog") Blog
            ul#sidebar-footer.nav.hidden-xs
              li &copy; 2014 Devin Young
          div#main.column.col-sm-9
            .page-header
              - if (typeof post !== "undefined" && post.title !== "undefined")
                h1= post.title
              - else if (typeof tag !== "undefined")
                h1 Devin Young Blog Tags
              - else if (typeof category !== "undefined")
                h1 Devin Young Blog Categories
              - else
                h1= title
            block content
  script(src="http://code.jquery.com/jquery-1.11.0.min.js")
  script(src="http://yandex.st/highlightjs/8.0/highlight.min.js")
  script(src="/js/main.js")
  script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39639341-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
