extends layout

block content
  .author
    span By&nbsp;
      span(itemprop="author", itemscope, itemtype="http://schema.org/Person")
        span(itemprop="name") #[a(href="https://plus.google.com/+DevinYoungRocks", rel="author", itemprop="url") Devin Young]
    span &nbsp;in #[a(href=categoryURL(post.category)) #{post.category}]
    br
    span Posted On&nbsp;
      time(itemprop="datePublished", datetime="#{post.date.toISOString()}") #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
  img.home-img(src="https://dl.dropboxusercontent.com/u/281059208/#{post.slug}.jpg")
  br
  div(itemprop="articleBody")
    != post.content

  div#disqus_thread
  script.
    var disqus_shortname = 'devinyoungweb';
    var disqus_identifier = "#{post.slug}";
    var disqus_title = "#{post.title}";
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
